@model IEnumerable<lesson08.ntk.Models.KHOA>

@{
    ViewBag.Title = "NtkIndex";
}

<h2>NtkIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NtkTenKH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NtkTenKH)
        </td>
        <td>
            @Html.ActionLink("Edit", "NtkEdit", new { id=item.NtkMaKH.Trim()}) |
            @Html.ActionLink("Details", "NtkDetails", new { id=item.NtkMaKH.Trim() }) |
            @Html.ActionLink("Delete", "NtkDelete", new { id=item.NtkMaKH.Trim() })
        </td>
    </tr>
}

</table>
