@model IEnumerable<NtkK22CNT4Lesson11_2210900033.Models.NtkProduct>

@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Ntk2210900033Layout.cshtml";
}

<h2>Danh sách sản phẩm</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NtkProName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NtkQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NtkPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NtkActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NtkCategory.NtkCateName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NtkProName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NtkQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NtkPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NtkActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NtkCategory.NtkCateName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NtkId2210900033 }) |
            @Html.ActionLink("Details", "Details", new { id=item.NtkId2210900033 }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NtkId2210900033 })
        </td>
    </tr>
}

</table>
