@model NtkLesson07Df.Models.ntkKhoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ntkKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NtkTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NtkTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NtkTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NtkTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NtkMaKH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
