@model IEnumerable<lesson08.ntk.Models.NTKKETQUA>

@{
    ViewBag.Title = "NtkIndex";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "NtkCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NtkDiem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MONHOC.NtkTenMH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SINHVIEN.NtkHoSV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NtkDiem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MONHOC.NtkTenMH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SINHVIEN.NtkHoSV)
        </td>
        <td>
            @Html.ActionLink("NtkEdit", "NtkEdit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("NtkDetails", "NtkDetails", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("NtkDelete", "NtkDelete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
