@model IEnumerable<lesson08.ntk.Models.SINHVIEN>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NtkHoSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NtkTenSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NtkPhai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NtkNgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NtkNoiSinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NtkMaKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NtkHocBong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NtkDiemTrungBinh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NtkHoSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NtkTenSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NtkPhai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NtkNgaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NtkNoiSinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NtkMaKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NtkHocBong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NtkDiemTrungBinh)
        </td>
        <td>
            @Html.ActionLink("Edit", "NtkEdit", new { id=item.NtkMaSV.Trim() }) |
            @Html.ActionLink("Details", "NtkDetails", new { id=item.NtkMaSV.Trim()}) |
            @Html.ActionLink("Delete", "NtkDelete", new { id=item.NtkMaSV.Trim() })
        </td>
    </tr>
}

</table>
