@model lesson08.ntk.Models.MONHOC

@{
    ViewBag.Title = "NtkDetails";
}

<h2>Details</h2>

<div>
    <h4>MONHOC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NtkTenMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NtkTenMH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NtkSoTiet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NtkSoTiet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("NtkEdit", "NtkEdit", new { id = Model.NtkMaMH }) |
    @Html.ActionLink("Back to List", "NtkIndex")
</p>
