
@{
    ViewBag.Title = "NtkCustomerDetail";
}

<h2>Thông tin khách hàng</h2>

<div class="alert-danger">
    <p>Mã số: @ViewBag.customer.CustomerId </p>
    <p>Họ và tên: @ViewBag.customer.FirstName @ViewBag.customer.LastName </p>
    <p>Địa chỉ: @ViewBag.customer.Address </p>
    <p>Ngày sinh: @ViewBag.customer.YearOfBirth </p>
</div>