@model IEnumerable<NtkK22CNT4Lesson11_2210900033.Models.NtkCategory>

@{
    ViewBag.Title = "Danh mục sản phẩm";
    Layout = "~/Views/Shared/_Ntk2210900033Layout.cshtml";
}

<h2>Danh mục sản phẩm</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<a href="/NtkCategories/Create" class="btn btn-primary my-3">Thêm mới</a>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NtkID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NtkCateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NtkStatus)
        </th>
        <th>Chức năng</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NtkID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NtkCateName)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.NtkStatus)*@

                @if (item.NtkStatus == true)
                {
                    <span style="color:green"> Hoạt động </span>
                }
                else
                {
                    <span style="color:red"> Không Hoạt động </span>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.NtkID }) |
                @Html.ActionLink("Details", "Details", new { id = item.NtkID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.NtkID })
            </td>
        </tr>
    }

</table>
